name: Katalon CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  katalon-test:
    runs-on: ubuntu-latest

    steps:
      - name: 沒･ Checkout code t盻ｫ GitHub
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Katalon Runtime Engine
        run: |
          wget https://download.katalon.com/katalon-studio/8.6.5/Katalon_Studio_Engine_Linux_64-8.6.5.tar.gz # Thay ﾄ黛ｻ品 phiﾃｪn b蘯｣n n蘯ｿu c蘯ｧn
          tar -xzf Katalon_Studio_Engine_Linux_64-8.6.5.tar.gz
          sudo mv katalon /opt/

      - name: Run Katalon Tests
        env:
          KATALON_API_KEY: ${{ secrets.KATALON_API_KEY }}  # N蘯ｿu b蘯｡n s盻ｭ d盻･ng Katalon TestOps
          LICENSE_KEY: ${{ secrets.KATALON_LICENSE_KEY }}  # N蘯ｿu b蘯｡n cﾃｳ License
        run: |
          export DISPLAY=:99
          sh -e /opt/katalon/katalon --consoleLog -noSplash -runMode=console \
            -projectPath="${{ github.workspace }}/TestLogin.prj" \ # Thay ﾄ黛ｻ品 ﾄ柁ｰ盻拵g d蘯ｫn ﾄ黛ｺｿn project c盻ｧa b蘯｡n
            -testSuiteCollectionPath="Test Suites/Test_Suite_Login" \ # Thay ﾄ黛ｻ品 ﾄ柁ｰ盻拵g d蘯ｫn ﾄ黛ｺｿn test suite collection
            -executionProfile="default" \ # Thay ﾄ黛ｻ品 profile n蘯ｿu c蘯ｧn
            -browserType="Chrome" \ # Thay ﾄ黛ｻ品 browser n蘯ｿu c蘯ｧn
            ${{ secrets.KATALON_LICENSE_KEY != '' && format('--apiKey={0}', secrets.KATALON_LICENSE_KEY) || '' }} \ # Thﾃｪm license key n蘯ｿu cﾃｳ
            -reportFolder="reports" \ # Nﾆ｡i lﾆｰu tr盻ｯ bﾃ｡o cﾃ｡o
            -retry=0 \
            -testOpsMode=true

      - name: Upload Test Report
        uses: actions/upload-artifact@v3
        with:
          name: Katalon Test Report
          path: "Reports"